/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

.flex {
  display: none;
}

.users {
  width: 15%;
  text-align: center;
  margin-top: 20px;
}

form.messageForm {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 86%;
}

form.messageForm input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form.messageForm button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
} */

/* /* @mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */

/* * {
      box-sizing: border-box;
  }

  html {
      height: 100%;
  }

  body {
      margin: 0px;
      height: 100%;
  }

  header {
      text-align: center;
  }

  h1 {
      font-family: 'Comfortaa', sans-serif;
      margin: 0px;
  }

  div#change_username, section#input_zone {
      border: 5px outset #BDBBB6;
  }

  div#change_username {
      height: 3%;
      display: inline-block;
      background-color: #BDBBB6;
  }

  section#chatroom {
      border: 5px inset #BDBBB6;
      height: 85%;
      overflow: auto;
  }

  section#input_zone {
      height: 7%;
      text-align: center;
      background-color: #BDBBB6;
  }

  .vertical-align {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }

  input#username {
    font-family: 'Poppins', sans-serif;
  }

  input#message {
      display: inline-block;
      width: 88%;
      height: 70%;
      font-family: 'Poppins', sans-serif;
      font-size: 2vh;
  }

  button#send_message {
      display: inline-block;
      height: 70%;
      width: 10%;
  }

  p.message {
      margin: 0px;
      width: 100%;
      height: 40px;
      font-size: 2vh;
      font-family: 'Poppins', sans-serif;
      padding: 1vh;
  }

  .message:nth-child(even) {
      color: #EF9A9A;
  }

  .message:nth-child(odd) {
      color: #D50000;
  } */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Electrolize', sans-serif;
    font-weight: 300;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.hidden {
    display: none;
}

.mb-2 {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

#appcontainer {
    height: 100vh;
    width: 100vw;
    background-color: black;
}


#login {
    background-color: black;
    border: solid 1px #6BB05D;
    padding: 40px 100px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

#maincontent {
    justify-content: center;
    width: 100%;
}

input {
    height: 40px;
    padding: 10px;
    background-color: black;
    border: solid 1px #6BB05D;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
  caret-color: white;
  color: #9BE98F;
}

button {
    height: 40px;
    padding: 0 15px;
    background-color: #6BB05D;
    color: white;
    border: none;
}

button:hover {
  background-color: #6BB05D;
  color: black;
}

#chat {
    background-color: black;
    padding: 25px;
    margin: 25px;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    border: 2px solid green;
}

.message {
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    background-color: black;
    border-radius: 10px;
    width: 45%;
    color: #6BB05D;
    border: solid 1px #6BB05D;

    padding-bottom: 10px;
}

.message-right {
    color: #6BB05D;
    text-align: left;
    background-color: black;
    border-radius: 10px;
    border: solid 1px #6BB05D;
    width: 45%;
    margin-left: 600px;
    padding-bottom: 10px;
}

.message-details {
    margin-bottom: 5px;
    justify-content: space-between;
}

.message-author {
    color: white;
}
